body {
  display: none;
  background-color: gray;
  background-image: url(../img/background.png);
  background-position: absolute;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Electrolize', sans-serif;
}

#header {
  display: block;
  margin: 20px;
  background: rgb(221, 221, 221);
  background: linear-gradient(90deg, rgba(221, 221, 221, 0) 0%, rgba(41, 41, 41, 0.75) 25%, rgba(41, 41, 41, 0.90) 50%, rgba(41, 41, 41, 0.75) 75%, rgba(221, 221, 221, 0) 100%);
  height: 80px;
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  padding-top: 20px;
  color: #f0c481;
  text-align: center;
}

#inputpanel {
  text-align: left;
  max-width: 200px;
}

#displaypanel {
  margin-right: -1%;
}

label {

}

input {
  display: block;
  background: transparent;
  color: #62ff19;
  text-align: center;
  font-size: 12px;
  margin-bottom:  10px;
}

.imgbutton {
  display: block;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  float: right;
}

.green {
  background-color: rgba(50, 209, 15, 0.5);
}

.blue {
  background-color: rgba(100, 103, 176, .5);
}


#labeldecore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#labeldecore p{
  margin-left: -3px;
}

#hithere {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 12px;
  color: #f0c481;
}

#acronym {
  font-weight: bold;
  color: white;
}

.error3 {
  color: rgb(207, 128, 139);
  background-color: rgba(12, 14, 36, 0.3);
}

.color0 {
  color: #f0e6bd;
  font-weight: 800;
}

.color1 {
  color: #ccbb76;
  font-size: 25px;
}

.color2 {
  color: #ccb03f;
}

.color3 {
  color: #d1a800;
}

.color4 {
  color: #b7bd99;
  font-weight: 800;
  font-size: 25px;
}

.color5 {
  color: #899e20;
}

.color6 {
  color: #8f9e88;
}

.color7 {
  color: #8bd16b;
  font-weight: 800;
  font-size: 25px;
}

.color8 {
  color: #3eab0c;
}

.color9 {
  color: white;
}

/* Blinking Effects were found here: https://codepen.io/_Master_/pen/PRdjmQ?editors=1100 */
@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.2;
  }
}

.blinkFast {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 2.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.blinkMed {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 4.1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.blinkSlow {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 7.2;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}
